h1 {
    text-align: center;
}

#products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    margin: 25px;
    width: 400px;
}

article button {
    display: flex;
    justify-content: right;
    align-items: flex-end;
}


button {
    margin: 20px;
    padding: 5px 10px;
}

#reset-button {
   padding: 10px 200px;
}

#formContainer {
    position: relative;
    text-align: center;
    margin: 8% auto;
    min-height: 60%;
    width: 50%;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.6);
    background: white;
    padding: 10px 15px;
    box-sizing: border-box;
    border-radius: 8px;
}

input {
    margin: 8px;
}


#personal {
    padding: 50px;
}

#delivery {
    text-align: center;
    padding: 5% 10%;
}

#conditions {
    display: inline-block;
}

label {
    display: block;
}

#checkbox {
    display: flex;
    justify-content: center;
    padding: 25px;
}

#error {
    color: red;
}


